.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr [col]) ;
    grid-template-rows: repeat(7, 1fr [row]);
    grid-template-areas: "header header header header header header header";
}

.headah {
    grid-area: header
}