.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr [col]) ;
    grid-template-rows: repeat(7, 1fr [row]);
    grid-template-areas: "header header header header header header header";
    column-gap: 10px;
    row-gap: 10px;
}

.headah {
    grid-area: header
}

.day {
    border: 2px solid black;
    border-radius: 10px;
}